.testemon{
    text-align: center;
    color: white;
    background-image: url("../assets/img/ocean.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testemon h3{
    padding-top: 3%;
}
.testemon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin: auto;
   
}
.testemon-container img{
    border-radius: 50%;
}
.testemon-container .right-arrow,
.testemon-container .left-arrow{
    font-size: 3em;
}
.testemon-item {
    width: 200px;
    margin: 2%;
    flex: 1;
}

.main-testemon {
    flex: 3;
    display: none;
}
.fade-in {
    animation: fadein 1s;
}
@keyframes fadein {
    0% {display: none; opacity: 0}
    50% {display: none; opacity: 0.5}
    100% {display: block; opacity: 1}
}
.active-testemon{
    display: block;
}
